:root {
  --font-family: 'Cabin';
  --text-color: #363636;
  --text-color-medium: #646464;
  --text-color-light: #8c9296;

  // Caso mude aqui mudar também no arquivo _buefy.scss
  --color-primary: #ff7677;
  --color-secondary: #47a5d7;

  --color-dark: #384b60;

  --color-bluelight: #c5e9ea;
  --color-light: #f8f1e0;

  --color-danger: #ff6363;
}
